minecraft/schematics
minecraft/screenshots
minecraft/server-resource-packs
minecraft/crash-reports
minecraft/banned-ips.json
minecraft/banned-players.json
minecraft/ops.json
minecraft/usercache.json
minecraft/whitelist.json
minecraft/world
minecraft/saves
minecraft/logs
minecraft/hs_err*
minecraft/*.log*
minecraft/*cache*
minecraft/local
minecraft/Xaero*
instance.cfg
